<%= form_with(model: content, local: true) do |form| %>
    <% content.errors.full_messages.each do |error| %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% end %>
    <div class="field">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div class="field">
        <%= form.label :description %>
        <%= form.text_area :description %>
    </div>
    <div class="field">
        <%= form.label :tags %>
        <%= form.select :tags, options_for_select(current_user.tags.pluck(:name), content.tags.pluck(:name)), {}, { class: 'select2 form-control', multiple: 'multiple' } %>
    </div>
    <div class="submit">
        <%= form.submit %>
    </div>
<% end %>